code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#rock-btn {
  display: block;
}

#title {
  padding: 50px;
}
#paper {
  width: 200px;
  height: 200px;
  margin: 30px;
}
#rock {
  width: 200px;
  height: 200px;
  margin: 30px;
}
#scissor {
  width: 200px;
  height: 200px;
  margin: 30px;
}
#header-image {
  margin: 20px;
}
